<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div{
            display: flex;
            flex-direction:column ;
            justify-items: center;
            align-items: center;
            height: 30vh;
            width: 40vw;
            margin: auto;
            margin-top: 20vh;
            background-color: black;
            color: white;
            border-radius: 5vw;
            padding-top:10vh ;
            text-transform: capitalize;
        }
        button{
            background-color: black;
            border-radius: 5vw;
            height: 5vh;
            width: 5vw;
            color: white;
            border-color: white;
            bottom: 2px solid white;
        }
       
    </style>
</head>
<body>
    <div>
    <h1>Hello, <%= name %>!</h1>
    <form action="/logout" method="post" >
        <button type="submit">Logout</button>
    </form>
    </div>
</body>
</html>