<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <style>
        form{
            display: flex;
            flex-direction: column;
            text-align: center;
            height: 15vh;
            width: 15vw;
            align-items: center;
            justify-items: center;

        }

    </style>
</head>
<body>
    <form action="/signup" method="post">
    <input type="text" id="2" placeholder="Enter Username" name="name"></input>
    <input type="text" id="3" placeholder="Enter Gmail" name="email"></input>
    <input type="text" id='4' placeholder="Enter Password" name="password"></input>
    <button value="0" id="1">proceed</button>
    </form>
    
</body>
</html>